body {margin-left:2in; width:60%; font-size:1.2em}

@font-face{
font-family: 'handwriting';
src: url('dkg.ttf');
font-style:normal;
font-weight:normal}

.hand { font-family: handwriting}

b {font-weight:bold; font-family: courier}

h1, h2, h3, p, td { font-family: serif;}

h1{font-size:2.5em;
	  text-align:right;
	  margin-top:1.5in;
	  margin-bottom:0.8in}

h2{ font-size:1em; display:block; clear:both; }

h3{ font-size:0.75em; color:#777; margin-bottom:0;}

dd >  p:first-child { margin-top:0}


h3 + p{ margin-top:0;}

tt { font-weight:bold }

// td { border: 1px solid black }
// table {border-collapse:collapse}

p {  text-align:justify }

p:hover, li:hover
{  	text-shadow: #ccc 2px 2px 5px;
	color:#E20074;
}

div.note { background-color: silver;
	   border: solid thin #666666;
	   margin: 35px;
	   padding: 12px}

div.author {color: blue}

div.ed {color: red}

pre {margin: 30px;
	  font-family:courier;
	  font-size:0.8em;
	  font-weight: bold}

